

.body {
	font-family: "Montserrat", sans-serif;
} 

.menu__fall {
	font-size: 20px;
	list-style: none;
}

.cat-face__image {
	max-width: 400px;
	max-height: 400px;
	background-position: cover;
	border-radius: 50%;
}